@font-face {
    font-family: 'MyFont';
    src: url('./myfont.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #faf1e1;
    font-family: 'MyFont', sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#showImage,
.yes-image {
    width: 240px;
    transition: all 0.3s ease;
}

.text,
.yes-text {
    font-size: 28px;
    font-weight: bold;
    color: #775550;
}

button {
    margin: 10px;
    font-size: 18px;
    font-family: 'MyFont', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
}

#yes {
    background-color: #f7b1ae;
}

#no {
    background-color: #b3c9f1;
}

.yes-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}